/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenitore{
    
    margin: 10px auto;
    width: 80%;
    

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}

/* contenitore */



/* immagini  */

.laterale .first-image {
    display: block;
}

.laterale .second-image {
    display: none;
}

.laterale:hover .first-image {
    display: none;
}

.laterale:hover .second-image {
    display: block;
}

.laterale img {
    width: 100%;
}

#centrale .first-image {
    display: block;
}

#centrale .second-image {
    display: none;
}

#centrale:hover .first-image {
    display: none;
}

#centrale:hover .second-image {
    display: block;
}

#centrale img {
    width: 100%;
}



.laterale {
    float: left;
    width: 32%;
    margin: 10px 0.5% ;
    position: relative;

}

.laterale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#centrale {
    float: left;
    width: 32%;
    margin: 10px 1%;
    position: relative;

}

#centrale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cuore */
.cuore1 {
    padding: 3px 15px;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 0; 

}

.cuore2 {
    padding: 3px;
    background-color: white;
    position: absolute;
    top: 845px; 

}

/* discount */
.promo {
    position: absolute;
    left: 0;
    top: 650px;
}
.tag {
    background-color: #00875a;
}

.promo span {
    display: inline-block;
    padding: 5px;
    color: white;
    font-weight: bold;
}
.discount1 {   
    background-color: red;
} 

.discount2 {
    padding: 3px;
    color: white;
    background-color: red;
    position: absolute;
    top: 1450px;
} 


/* descrizioni e prezzo */
.newprice {
    color: red;
}

.oldprice {
    text-decoration: line-through;
    color: black;
}

