/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contenitore{
    
    margin: 10px auto;
    width: 80%;
    

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}

/* contenitore */



/* immagini  */


.laterale {
    float: left;
    width: 32%;
    margin: 10px 0.5% ;

}

.laterale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#centrale {
    float: left;
    width: 32%;
    margin: 10px 1%;

}

#centrale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cuore */
.cuore1 {
    padding: 3px;
    background-color: white;
    position: absolute;
    top: 50px; 
    text-align: right;

}

.cuore2 {
    padding: 3px;
    background-color: white;
    position: absolute;
    top: 845px; 

}

/* discount */
.discount1 {
    padding: 3px;
    color: white;
    background-color: red;
    position: absolute;
    top: 650px;
} 

.discount2 {
    padding: 3px;
    color: white;
    background-color: red;
    position: absolute;
    top: 1450px;
} 


/* descrizioni e prezzo */
.newprice {
    color: red;
}

.oldprice {
    text-decoration: line-through;
    color: black;
}

